body {
    margin: auto;
}

/* Home Container Styles */
.home-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    margin: 10em;
}

.new-plan, .form-container {
    height: 20em;
    padding: 50px;
    align-items: center;

}

/* New Plan styles */
.new-plan {
    border: solid;
    width: 15em;
    float: right;
    grid-column: 2;
    display: grid;
}

/* Form Styles */
.form-container {
    border: solid;
    grid-column: 3;
    display: grid;

}

input {
    height: 20px;
    font-size: 15px;
}

/* Button Styles */
button {
    background-color: white;
    border: thin solid;
    color: #72a022;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    margin: 20px 0;
}

button:hover {
    background-color: #72a022;
    color: white;
}