<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advisor Advise It</title>
    <link rel="stylesheet" href="/advise-it/css/advisor.css">
    <script src="/advise-it/js/advisor.js"></script>
</head>

<body>
    <div class="main-container">

        <div class="header">
            <h1>Advise It</h1>
        </div>

        <!-- Token -->
        <div class="token">
            <button class="button"  name="token">Token:
                <h9  name="token" value="{{ @token }}">{{ @SESSION.token }}</h9></button>
<!--            id="token"-->
        </div>

        <!-- Button Container -->
        <div class="button-container">
            <a href="plan">
                <button id="new-plan">Create Plan</button>
            </a>
        </div>

        <button id="print-button" onclick="window.print()">Print</button>
        <!-- Students advisor  -->
        <div class="advisor-container">
            <h9 id="advisor" name="advisor">Advisor: {{ @advisor }}</h9>
        </div>

        <!-- Quarter Containers -->
        <form method="post" class="quarters-container">
            <!-- FALL Container -->
            <div class="quarters-boxes">
                <h2>Fall</h2>
                <div class="class-plan">
                    <div class="schedule">
                        <textarea name="fall" rows="4" cols="10" value="{{ @fall }}"></textarea>
                    </div>
                    <div class="notes">
                        <label for="fallNotes">Notes:</label>
                        <textarea id="fallNotes" name="fall_notes" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>

            <!-- WINTER Container -->
            <div class="quarters-boxes">
                <h2>Winter</h2>
                <div class="class-plan">
                    <div class="schedule">
                        <textarea name="winter" rows="4" cols="10"></textarea>
                    </div>
                    <div class="notes">
                        <label for="winter-notes">Notes:</label>
                        <textarea id="winter-notes" name="winter_notes" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>

            <!-- Spring Container -->
            <div class="quarters-boxes">
                <h2>Spring</h2>
                <div class="class-plan">
                    <div class="schedule">
                        <textarea name="spring" rows="4" cols="10"></textarea>
                    </div>
                    <div class="notes">
                        <label for="spring-notes">Notes:</label>
                        <textarea id="spring-notes" name="spring_notes" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>

            <!-- Summer Container -->
            <div class="quarters-boxes">
                <h2>Summer</h2>
                <div class="class-plan">
                    <div class="schedule">
                        <textarea name="summer" rows="4" cols="10"></textarea>
                    </div>

                    <div class="notes">
                        <label for="summer-notes">Notes:</label>
                        <textarea id="summer-notes" name="summer_notes" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>

            <input class="save-button" id="save-plan" type="submit" value="Save" name="submit">
        </form>

    </div>
</body>
</html>